body {
    background-color: black;
    font-family: "Arial";
    font-weight: bold;
    color: white;
}

form {
    background-color: white;
}

p,
h1,
ul,
li {
    display: inline;
    font-size: 18px;
}

li {
    text-decoration: underline;
    margin-left: 20px;
}

.navbar {
    padding: 5px 10px;
    background-color: white;
    color: black;
}

.line1 {
    font-family: "Helvetica Neue";
    font-size: 40px;
    font-weight: normal;
}

.options,
#add-item,
#sub-button {
    margin: 20px;
    padding: 20px;
    background-color: black;
    color: white;
}

.imagesDiv {
    margin: 20px;
}

.wrapper {
    display: inline-block;
    margin: 10px;
}