body {
    background-color: black;
    color: white;
}

.line1 {
    font-size: 80px;
}

.options {
    margin: 20px;
    padding: 20px;
    background-color: black;
    color: white;
}

.imagesDiv {
    margin: 20px;
}