body {
    background-color: black;
    background-size: contain;
    color: white;
}

.line1 {
    font-size: 80px;
}

.options,
#add-item,
#sub-button {
    margin: 20px;
    padding: 20px;
    background-color: black;
    color: white;
}

.imagesDiv {
    margin: 20px;
}

.wrapper {
    display: inline-block;
    margin: 10px;
}